body {
  background: gray;
}
.nav {
  background: rgb(212, 204, 212);
  font-size: 25px;
}

li {
  list-style-type: none;
}
.main_brand {
  font-size: 35px;
  color: gold;
  background-color: lightblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.brand {
  text-decoration: none;
}

.footer {
  background-color: lightcoral;
}
.footer_nav {
  background: lightcyan;
  color: green;
  font-size: 28px;
  font-style: italic;
}
