%ic {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
  &:before {
    @extend %ic;
    display: block;
  }
}

.icon-arrow-bottom:before {
  content: '\e900';
}
.icon-cart:before {
  content: '\e901';
}
.icon-compare:before {
  content: '\e902';
}
.icon-favorit:before {
  content: '\e903';
}
.icon-footer_location:before {
  content: '\e904';
}
.icon-footer-clock:before {
  content: '\e905';
}
.icon-footer-mail:before {
  content: '\e906';
}
.icon-footer-phone:before {
  content: '\e907';
}
.icon-logo:before {
  content: '\e908';
}
.icon-rubl:before {
  content: '\e909';
}
.icon-serch:before {
  content: '\e90a';
}
.icon-user:before {
  content: '\e90b';
}
