@import url(../css/fonts.css);

body {
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 400;

    color: black;
}
section {
    padding: 50px 0;
}
.container {
    display: flex;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px;

    border: 2px solid #b3b3b3;
    background-color: #f6f6f6;
    box-shadow: 0 0 22px rgba(85, 78, 78, .25);
}
label {
    display: block;

    font-weight: 600;

    margin: 8px 0;
}

span {
    font-size: 14px;
}
textarea {
    width: 100%;
    padding: 5px;

    resize: none;
}
.tagline {
    font-size: 28px;
    font-weight: 600;

    text-transform: uppercase;

    color: #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}
.container h1 {
    font-size: 22px;
    line-height: 28px;

    margin: 20px 0;
}
.container > div {
    border-radius: 5px;
}
.text {
    font-size: 16px;
    line-height: 110%;

    margin-bottom: 20px;

    color: #6b6b6b;
}
fieldset {
    margin: 20px 0;
}

[type='text'] {
    width: 100%;
    margin: 6px 0;
    padding: 5px;
    padding: 10px 16px;
}
[type='tel'],
[type='email'] {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    padding: 10px 16px;
}

[type='text']:hover,
[type='text']:active,
[type='text']:focus {
    background-color: rgb(161, 49, 49);
}

input::placeholder {
    font-size: 20px;

    color: #6b6b6b94;
}
select {
    width: 100%;
    padding: 10px;
}
.want-country {
    margin-bottom: 8px;
}

[type='checkbox'],
[type='radio'] {
    margin: 4px 10px 0 0;
}
[type='submit'] {
    display: block;

    font-size: 18px;
    font-weight: 600;

    width: 50%;
    margin: 0 auto;
    padding: 12px 20px;

    cursor: pointer;

    color: #fff;
    background-color: #063;
}
[type='submit']:hover,
[type='submit']:active,
[type='submit']:focus {
    letter-spacing: 1px;

    background-color: rgb(7, 138, 72);
}

@media screen and (max-width: 768px) {
    section {
        padding: 0;
    }
}
