@import url(../css/fonts.css);

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   font-family: "Gilroy", Arial, Helvetica, sans-serif;

   font-weight: 400;
   font-style: normal;

   font-size: 18px;

   color: #242424;
   background-color: #fff;
}
a {
   display: block;
}
.container {
   width: 100%;
   max-width: 1168px;
   margin: 0 auto;
   padding: 0 16px;
}
.title {
   font-size: 32px;
   font-weight: 600;

   line-height: 1.5;
   text-align: center;
   color: #212121;
   padding: 40px 0;
}
.title-block {
   max-width: 83.33%;
   margin: 0 auto;
   margin-bottom: 80px;
}

.text {
   font-weight: 400;
   line-height: 28px;
   text-align: center;
   color: #212121;
}
.inner-box-shodow {
   padding: 16px;
   background-color: #fff;
   -webkit-box-shadow: 0 1px 16px 0 rgba(50, 50, 50, 0.75);
   -moz-box-shadow: 0 1px 16px 0 rgba(50, 50, 50, 0.75);
   box-shadow: 0 1px 16px 0 rgba(50, 50, 50, 0.75);
}

/* start header */
.header {
   position: relative;
   width: 100%;
   max-height: 100vh;

   overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;
}
.header__burger {
   display: none;
}

.video__box {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;

   width: 100%;
   height: auto;

   padding-bottom: 56.25%;
}

.video__box:after {
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;

   width: 100%;
   max-height: 100vh;
   padding-bottom: 56.25%;

   content: "";

   background-color: rgba(0, 0, 0, 0.5);
}
.video__media {
   width: 100%;
   height: 100%;
}

.nav-header {
   position: relative;
   z-index: 6;

   display: flex;

   padding-top: 30px;

   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}
.nav-header__logo {
   font-size: 35px;
   font-weight: 700;

   display: inline-block;

   letter-spacing: 2px;

   color: #fff;
}
.nav-header__list {
   display: flex;

   align-items: center;
}
.nav-header__list:last-child {
   margin-right: 30px;
}
.nav-header__item {
   margin-left: 30px;
}
.nav-header__link {
   font-size: 18px;
   font-weight: 600;

   color: #fff;
}
.nav-header__item :hover {
   opacity: 0.7;
}

/* header finish */

/* caption */

.header .container {
   height: 80vh;
}

.caption {
   position: relative;
   z-index: 6;

   display: flex;

   width: 100%;
   height: 60vh;

   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.caption__content {
   margin-bottom: 100px;
}

.caption__title {
   font-size: 82px;
   font-weight: 700;
   line-height: 110px;

   margin-bottom: 50px;

   letter-spacing: 6px;
   text-transform: uppercase;

   color: #fff;
}

.caption__suptitle {
   font-size: 24px;
   font-weight: 600;
   line-height: 37px;

   max-width: 510px;
   margin: 0 auto;

   color: #fff;
}

.btn {
   font-size: 20px;
   font-weight: 700;

   display: inline-block;
   width: 100%;
   max-width: 300px;
   padding: 15px 35px 15px 35px;

   transition: 0.3s;
   text-align: center;
   text-transform: uppercase;

   color: black;

   border-radius: 5px;
   background-color: #fff;
   border: 2px solid transparent;
   transition: all 0.7s ease-in-out;
}
.btn:hover {
   letter-spacing: 2px;

   color: #fff;
   border: 2px solid #fff;
   background-color: transparent;
}

/* start why-italy */

.section-why-italy {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: #f6f6f6;
}

.why-italy__title {
   margin-bottom: 80px;
}

.why-italy__row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0 -16px;
   margin-bottom: 120px;
}

.why-italy__row-item {
   flex: 0 1 50%;

   padding: 0 16px;

   display: flex;
   justify-content: center;
   align-items: center;
}
.why-italy__text {
   font-size: 18px;

   min-height: 320px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.row-reverse {
   flex-direction: row-reverse;
}
.why-italy__box-img {
   overflow: hidden;
   text-align: center;
}
.why-italy__box-img img {
   min-width: 100%;
   height: 100%;
   object-fit: cover;
}

/* finish why italy */

/* start start travet */

.section-start-travel {
   padding-top: 90px;
   padding-bottom: 130px;
}

.start-travel__title {
   padding-top: 50px;
   padding-bottom: 40px;
}
.start-travel__text {
   font-size: 18px;
   padding: 0 16px;

   padding-bottom: 30px;
}

.travel-grid__bg1 {
   background: url(../img/pisa.jpg);
   background-size: contain;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-position: center;
}
.travel-grid__bg2 {
   background-image: url(../img/italianfood.jpg);
   background-size: contain;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: cover;
   background-position: center;
}

.travel-grid {
   display: grid;

   width: 100%;
   height: 100%;
   gap: 5px;
   grid-template-columns: repeat(12, 1fr);
}
.travel-grid span {
   position: relative;
   z-index: 100;
   font-size: 30px;
   font-weight: 600;

   letter-spacing: 4px;
   text-transform: uppercase;

   color: #fff;
}
.travel-grid > a {
   position: relative;
   z-index: 10;
}

.travel-grid > a::after {
   position: absolute;
   z-index: 1;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   content: "";

   opacity: 0.5;
   background: black;
}

.travel-grid > a {
   display: flex;
   flex-direction: column;

   height: 200px;

   transition: all 0.5s ease-in;
   text-align: center;

   background-attachment: fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   align-items: center;
   justify-content: center;
}

.travel-grid > a:hover {
   -moz-transform: scale(0.98);
   -webkit-transform: scale(0.98);
   -ms-transform: scale(0.98);
   transform: scale(0.98);

   opacity: 0.7;
}

.travel-grid__document {
   grid-column: 1 / 10;
}

.travel-grid__ticket {
   grid-column: 10/13;
}

.travel-grid__route {
   grid-column: 1/8;
}

.travel-grid__rent-car {
   grid-column: 8/13;
}

.travel-grid__apartments {
   grid-column: 1/6;
}

.travel-grid__food {
   grid-column: 6/9;
}
.travel-grid__entertainment {
   grid-column: 9/13;
}

.travel-grid__friends {
   grid-column: 1/5;
}

.travel-grid__pizza {
   grid-column: 5/8;
}

.travel-grid__advice {
   grid-column: 8/13;
}

.travel-grid__more {
   grid-column: 1/13;
}

/* finish start travel */

/* start top-city */

.section-top-city {
   background-color: #f6f6f6;
   padding-top: 100px;
   padding-bottom: 50px;
}

.top-city__text {
   padding: 0 16px;
   padding-bottom: 35px;
}
.cards-towns {
   display: flex;

   flex-wrap: wrap;

   justify-content: center;
   align-items: center;
   margin: 0 -8px;
}
.card-town {
   flex: 0 0 25%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0 8px;
   margin-bottom: 16px;
   max-height: 550px;
}
.card-town__main {
   height: 200px;
   padding: 30px 26px;
   background-color: #fff;
   border: 1px solid #dee2e6;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.card-town__title {
   font-size: 22px;
   font-weight: 600;
   line-height: 20px;
   margin-bottom: 50px;
}
.card-town__text {
   line-height: 20px;
}

.card-town__box-img {
   height: 51%;
}
.card-town__box-img img {
   display: block;
   width: 100%;

   object-fit: cover;
   opacity: 0.7;
   cursor: pointer;
}

.card-town:hover .card-town__box-img img {
   transform: scaleY(1.06);
   opacity: 1;
}

.more-towns {
   text-align: center;
   color: black;
   padding-top: 20px;

   font-weight: 600;
   font-size: 20px;
   line-height: 40px;
}

.more-towns:hover {
   opacity: 0.6;
   letter-spacing: 1px;
}

/* finisj top-city */

/* start advice */
.section-advice {
   padding-top: 80px;
   padding-bottom: 80px;
}

.advice-cards {
   display: flex;

   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
}

.advice-card {
   flex: 0 0 50%;
   display: flex;
   flex-direction: column;
   padding: 0 15px;
   height: 300px;
   margin: 40px 0px;
   padding: 20px 20px;

   transition: 0.5s ease-in-out;

   background-color: #fff;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.advice-card__box-img {
   position: relative;
   z-index: 1;
   top: -60px;
   left: 0;
   width: 100%;

   height: 300px;

   border-radius: 20px 20px 0 0;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.advice-card__box-img img {
   width: 100%;

   border-radius: 20px 20px 0 0;

   object-fit: cover;
   object-position: center center;
}

.advice-card__text {
   overflow: auto;

   margin-top: -40px;
   padding: 10px 15px;

   transition: 0.5s ease-in-out;
   text-align: start;

   opacity: 0;

   background-color: #fff;
}
.advice-card__text > p {
   font-size: 16px;

   line-height: 20px;
   margin-bottom: 20px;
}

.advice-card:hover {
   height: 500px;
}

.advice-card:hover .advice-card__text {
   margin-top: -40px;

   transition-delay: 0.3s ease-in-out;

   opacity: 1;
}
.advice__box-text {
   padding-top: 30px;
   padding-bottom: 20px;
   padding-left: 16px;
   padding-right: 16px;
}
/* card finish */

/* toplan-trip */
.toplan-trip {
   background-image: url(../img/night-itabg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   position: relative;
   width: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}
.toplan-trip::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
}

.toplan__title {
   color: #fff;
}

.toplan {
   position: relative;
   z-index: 5;
   padding: 0 66px 30px 66px;
   width: 91.66%;
   margin: 0 auto;
   background: rgba(255, 255, 255, 0.1);
   border: 2px solid rgba(255, 255, 255, 0.3);
   font-size: 18px;
   color: #fff;
   display: flex;
   flex-direction: column;
}

.toplan__list > li > p {
   padding-top: 16px;
   text-align: center;
   font-weight: 600;
   line-height: 1.6;
}

/* to plan */
/* start footer */

footer {
   color: #fff;
   background: #063;
   padding-top: 40px;
}

.footer__row {
   display: flex;

   justify-content: space-between;
}
.footer__column {
   flex: 0 1 50%;
   display: flex;
   flex-wrap: wrap;

   align-items: flex-start;
   justify-content: space-around;
}
.footer__column > div {
   margin-bottom: 15px;
}
.footer__icons {
   align-self: flex-end;
}
.footer__icon {
   display: flex;
}
.footer__icon li {
   padding: 5px;
}
.footer__column > div > p {
   /* color: #9e9a94; */
   margin-bottom: 10px;
   font-weight: 600;
}
.footer__column li {
   margin-bottom: 7px;
   margin-top: 7px;
}
.footer__column li a {
   color: #fff;
   font-size: 14px;
}
.footer__column li a:hover {
   text-decoration: underline;
}

.footer__column li:hover,
.footer__column li:active,
.footer__column li:focus {
   opacity: 0.7;
}

.footer-svg__facebook,
.footer-svg__instagram,
.footer-svg__parrot,
.footer-svg__twitter,
.footer-svg__youtube {
   fill: #e5e5e5;
}

.footer__icon li a:hover .footer-svg__facebook,
.footer__icon li a:active svg,
.footer__icon li a:focus svg {
   fill: blue;
}

.footer__icon li a:hover .footer-svg__instagram,
.footer__icon li a:active .footer-svg__instagram,
.footer__icon li a:focus .footer-svg__instagram {
   fill: #bd28a2;
}

.footer__icon li a:hover .footer-svg__parrot,
.footer__icon li a:active .footer-svg__parrot,
.footer__icon li a:focus .footer-svg__parrot {
   fill: #eef067;
}

.footer__icon li a:hover .footer-svg__twitter,
.footer__icon li a:active .footer-svg__twitter,
.footer__icon li a:focus .footer-svg__twitter {
   fill: #22aae0;
}

.footer__icon li a:hover .footer-svg__youtube,
.footer__icon li a:active .footer-svg__youtube,
.footer__icon li a:focus .footer-svg__youtube {
   fill: #953232;
}
.copyright {
   margin-top: 50px;
   text-align: center;
   color: hsla(211, 32%, 70%, 0.5);
   padding-bottom: 20px;
   padding-top: 20px;
   font-size: 16px;
   font-weight: 300;
}

/* end footer */
